{% embed "base.html.twig" %}
    {% block css %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ BASE_PATH }}/public/css/about.css">
    {% endblock %}
    {% block content %}
        <section>
            <h2>ABOUT AVGRIS</h2>
            <p>AVGRIS is the Vegetable Genetic Resources Information System of AVRDC – The World Vegetable Center. It is used to manage the genebank databases compiled by the the Center’s Genetic Resources and Seed Unit.</p>
            <p>Many people have worked together to develop AVGRIS. Improvements are made periodically to increase system efficiency. Contributors to the development of AVGRIS are listed in alphabetical order:</p>
            <ul>
                <li>Dr. Maarten van Zonneveld (<a href="mailto:maarten.vanzonneveld@worldveg.org" alt="maarten.vanzonneveld@worldveg.org" title="maarten.vanzonneveld@worldveg.org"> maarten.vanzonneveld@worldveg.org</a>)</li>
                <li>Ms. Yu-yen Hsieh (<a href="mailto:stella.hsieh@worldveg.org" alt="stella.hsieh@worldveg.org" title="stella.hsieh@worldveg.org">stella.hsieh@worldveg.org</a>)</li>
                <li>Mr. Tien-hor Wu (<a href="mailto:tien-hor.wu@worldveg.org" alt="tien-hor.wu@worldveg.org" title="tien-hor.wu@worldveg.org">tien-hor.wu@worldveg.org</a>)</li>
                <li>Ms. Ching-huan Chang (<a href="mailto:jessica.chang@worldveg.org" alt="jessica.chang@worldveg.org" title="jessica.chang@worldveg.org">jessica.chang@worldveg.org</a>)</li>
                <li>Ms. Miao-rong Yan (<a href="mailto:miao-rong.yang@worldveg.org" alt="miao-rong.yan@worldveg.org" title="miao-rong.yan@worldveg.org">miao-rong.yan@worldveg.org</a>)</li>
                <li>Mr. Yung-kuang Huang (<a href="mailto:yung-kuang.huang@worldveg.org" alt="yung-kuang.huang@worldveg.org" title="yung-kuang.huang@worldveg.org">yung-kuang.huang@worldveg.org</a>)</li> 
                <li>Mr. Yan-kuang Chan (<a href="mailto:andrew.chan@worldveg.org" alt="andrew.chan@worldveg.org" title="andrew.chan@worldveg.org">andrew.chan@worldveg.org</a>)</li>
                <li>Mr. Sheng-hung Yen (<a href="mailto:sam.yen@worldveg.org" alt="sam.yen@worldveg.org" title="sam.yen@worldveg.org">sam.yen@worldveg.org</a>)</li>
                <li>Mr. Eric Shen (<a href="mailto:eric.shen@worldveg.org" alt="eric.shen@worldveg.org" title="eric.shen@worldveg.org">eric.shen@worldveg.org</a>)</li>
                <li>Ms. Xue-hui Chen</li>
            </ul>                                                                                                                                                                                            
            <p></p>
            <aside>
                <blockquote> <br>
                    Genetic Resources and Seed Unit<br>
                    AVRDC The World Vegetable Center<br>
                    P.O. Box 42<br>
                    Shanhua, Tainan 74199, Taiwan<br>
                </blockquote>
            </aside>
        </section>
    {% endblock %}
{% endembed %}                                                                                                                                                        C